body, html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  
    list-style: none;
    white-space: nowrap;
}


.header {
    display: flex;
    flex: 1 1 auto;

    border: solid red;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 10 1 auto;

    border: solid blue;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: solid red;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: solid green;
}

.footer {
    display: flex;
    flex: 1 1 auto;

    border: solid yellow;
}