body, html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  
    list-style: none;
    white-space: nowrap;
}


.header {
    display: flex;
    flex: 1 1 auto;

    border: solid red;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 10 1 auto;

    border: solid blue;
}

.points {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-evenly;

    border: solid red;
}


.buttons {
    display: flex;
    flex: 10 1 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

    padding: 32px 0px;

    border: solid green;
}

button {
    padding: 16px 64px;
    border-radius: 8px;
    background: royalblue;
    /* border: 10px solid royalblue; */
    color: white;
  
    font-size: 12px;
}

button:hover {
    background: lightblue;
}

/* button:focus {
    background: lightblue;
    border: 10px solid lightblue;
} */

.footer {
    display: flex;
    flex: 1 1 auto;

    border: solid yellow;
}